.form-container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.order_container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 150px;
    
}
.nav-conteiner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav-el {
    margin: 0px 30px;
}
.four {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    background-image: '';
}

.error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.error-title {
    font-size: 3em;
    font-weight: bold;
    color: #333;
}

.error-message {
    font-size: 1.5em;
    color: #555;
    margin-bottom: 20px;
}

.error-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.error-button {
    background-color: #3498db;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

.error-button:hover {
    background-color: #2980b9;
}

